[Unit]
Description=Gunicorn daemon for diary-django
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=daniel
Group=www-data
WorkingDirectory=/var/www/diary-django
# https://stackoverflow.com/questions/23733059/the-secret-key-setting-must-not-be-empty
# ExecStart is added by diary.sh.

